DB_NAME='bedrock_db'
DB_USER='root'
DB_PASSWORD='password'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
# DB_HOST='localhost'
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://example.com'
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='^w5h3ryKLa#&.FX[wE64c/hZz}RN#.)8095y*V3w:NxMwe3DYqW:EWHF#4^gy[|^'
SECURE_AUTH_KEY='1:=CV@:UCSsoWSmgVvfZkkZI=zBt/uaxUmlpFPh9V4lN}#QBZzeuqt#Tf1vkXQ#t'
LOGGED_IN_KEY='?J4C+=E2oxUo;(P$068GYI45=XZ]^<Dv;X2x,?J>n:5%yFacmu(I>$&Gi|_9,v2T'
NONCE_KEY='1*.re/v$kmI^ji)x(X=g:n$:@b}]^aRgVqAw&F1bBW2[n%3w)=H+8;Gv}zuIp5ji'
AUTH_SALT='(=)nl9HMsVg^EVm%-0Jw,5FrI2Sp&pe8Y*Nms<MQ?OhiK`b*ig2e9JV3=V%E[,I.'
SECURE_AUTH_SALT='I=/>g}^a.jBq|JM8%QqZ3nu9NKY*5w{{d4[it{2LO=43c:6Xl14tN8wK0A(_|vYf'
LOGGED_IN_SALT='FiBHHa-qTjl2kjpjoz=C+i/>cYb[>[$FX&#jeiqs72x9@ISoywg3HfJ}bNWL`:9M'
NONCE_SALT='&q`;*axWX_eP!l)F-dlU.l;WQM=N??E&t)fs#&-#7OK_Z+ftpB47qsD1T>*yc=^$'
